@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css');

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* SIDEBAR */


.sidebar[data-background-color=dark] {
  background: #121212 !important
}


.logo-header[data-background-color=dark] {
  background: #121212 !important
}

.sidebar .nav.nav-secondary>.nav-item a:hover i,
/* cores ícones do sidebar */
.sidebar .nav.nav-secondary>.nav-item a:focus i,
.sidebar .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true] i,
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a:hover i,
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a:focus i,
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true] i {
  color: #ffffff !important;
}

.sidebar .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true]:before,
/* cores ícones do sidebar */
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true]:before {
  background: #ffffff !important;
}

.sidebar .nav.nav-secondary>.nav-item.active a:before,
/* cores ícones do sidebar */
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item.active a:before {
  background: #ffffff !important;
}

.sidebar .nav.nav-secondary>.nav-item.active a i,
/* cores scroll do sidebar */
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item.active a i {
  color: #ffffff !important;
}

.sidebar .nav.nav-secondary>.nav-item .nav-collapse li.active>a,
/* cores scroll do sidebar */
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item .nav-collapse li.active>a {
  color: #ffffff !important;
}